@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url(
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --button-text-color: #000000E6;
    --secondary-text-color: #868686;
    --border-color: #ececec;
    
}

/* COLOR CARD */

.color-card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.color-card .colors{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;

}

.color-card .colors .color{
    display: flex;
    align-items: end;
}

.color-card .colors .color span{
    color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.253);
    width: 80px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    display: none;
}

.color-card .colors .color:hover span{
    display: inline-block;
}

.color-card .colors .color:nth-child(1){
    height: 40%;
}

.color-card .colors .color:nth-child(2){
    height: 25%;

}

.color-card .colors .color:nth-child(3){
    height: 20%;

}

.color-card .colors .color:nth-child(4){
    height: 15%;

}

.color-card .color-card-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.color-card .color-card-controls .btn-like{
    height: 38px;
    display: flex;
    gap: 5px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--button-text-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-size: 14px;
}

.color-card .color-card-controls .btn-like:hover{
    background-color: #acacac;
}

.color-card .color-card-controls .update{
    color: var(--secondary-text-color);
    font-size: 14px;
}

.color-card-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}