.userInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    background-color: var(--app-color);
}
.imgContainer{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.082);
}
.userImg{
    position: absolute;
    height: 100%;
    width: 140%;
}

.userName{
    position: relative;
    left: 25px;
    font-weight: 500;
    color: white;
}