.titulo{
    font-family: var(--ff-titulo);
    margin-left: 220px;
    text-decoration: underline solid rgba(0, 0, 0, 0.198);
    font-weight: 400;
}

.circulo{
    font-family: var(--ff-texto);
    font-size: 15px;
    background-color: var(--color-back);
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-radius: 50%;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 50px;
}

div .cuadrado{
    font-family: var(--ff-titulo);
    font-size: 20px;
    background-color: var(--color-red);
    height: 200px;
    width: 200px;
    margin: 20px 20px 5px 15px;
    
}