*{
    
}

h1{
    font-family: "Poppins", sans-serif;
    color: hsl(279, 71%, 45%);
    font-size: 32px;
    text-decoration: underline solid red;
    letter-spacing: 1px;
    word-spacing: 20px;
    line-height: 60px;
    font-weight: 500;
}

.btn-accion{
    color: brown;
    background-color: yellow;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: 450;

}


.hola-mundo{
    font-family: "Roboto", sans-serif;
    text-decoration: underline dashed red;
    line-height: 60px;
    word-spacing: 15px;
    

}