
h1{
    letter-spacing: 1px;
    word-spacing: 20px;
    line-height: 60px;
}

.btn-accion{
    background-color: yellow;
    letter-spacing: 1px;
}


.hola-mundo{
    line-height: 60px;
    word-spacing: 15px;
    
}