*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hijo{
    width: 80vw;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

@media screen and (min-width: 1000px){
    .padre{
        background-color: blue;
    }
}