.userInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 3rem;
    background-color: var(--app-color);
}
.user-img{
    border: 1px solid rgba(0, 0, 0, 0.082);
    width: 12%;
    height: 80%;
    border-radius: 30px;
    position: relative;
    left: 25px;
    background-color: grey;

}
.user-avatar{
    position: relative;
    left: 25px;
    font-weight: 500;
    color: white;
}