@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --ff-text: "DM Sans", sans-serif;
    --font-color: #FFFFFF ;
    --back-color: #673DE6;
    --box-color: #5025D1 ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: var(--font-color);
}


.sitio-seguro{
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 60px 5px;  
}

.top-section .advantages {
    display: flex;
    flex-direction: column;
}

.top-section .advantages h2{
    font-size: 25px;
    word-spacing: 1px;
}


.top-section .advantages .adv-list i{
    font-size: 25px; 
}

.top-section .advantages .adv-list p{
    font-weight: 450;
}

.top-section .advantages .adv-list{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 100;
    
}
.top-section .img-girl img{
    margin-top: 30px;
    width: 100%;
}



